.gameKonva{
    background-image: url("../Images/solarSystem.jpg");
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.match{
    /*background-image: url("https://images.pond5.com/cartoon-lowpoly-earth-planet-space-footage-104423504_iconl.jpeg");*/
    /*background-image: url("https://st2.depositphotos.com/7226312/11290/v/600/depositphotos_112901412-stock-illustration-earth-horizon-from-space-with.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-image: linear-gradient(to bottom right,black, black, navy, darkviolet, saddlebrown, black) ;
    position: fixed;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
.stage{
    height: inherit;
    width: inherit;
    left: inherit;
    position: absolute;
}