@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
.About{
    font-family: Cairo;
    background-image: url("../Images/solarSystem.jpg");
    display: flex;
    justify-content: right;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: white;
}
.aboutBody{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 750px;
}
.paragraph{
    background-color: rgba(20, 20, 20, 0.6);
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    position: fixed;
    top: 200px;
    width: 800px;
    font-size: large;
    font-weight: bold;
}
.facings{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
.f{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}