@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
.rank{
    font-family: Cairo;
    font-size: large;
    font-weight: bold;
    background-image: url("../Images/solarSystem.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    color: white;
}
.ranking{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 750px;
    top: 50px;
}
.ranks{
    position: fixed;
    top: 130px;
    width: 800px;
}
.ranks label{
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
.first, .second, .third{
    color: beige;
    margin-top: 10px;
}
.first:hover{
    animation: shake 2s;
    animation-iteration-count: infinite;
}
.second:hover{
    animation: shake 2s;
    animation-iteration-count: infinite;
}
.third:hover{
    animation: shake 2s;
    animation-iteration-count: infinite;
}
.first, .second, .third{
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
    display: block;
    padding-left: 5px;
    padding-top: 15px;
    height: 50px;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}